body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
}
/* .container{
    width: 1170px;
    margin: 0 auto;
} */
h1,h2,h3,h4,h5,h6, p{
    margin:0;
    padding:0;
}
ul{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
}
.clear{
    clear:both;
}
/* .header img{
   
}
.menu{
    float: right;
    padding-top: 30px;
}
.menu li{
    float: left;
    padding-left: 20px;
}
.menu li a{
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-transform: uppercase;
}
.menu li a.active{
    color:#ff7c5b;
    text-decoration: underline;
}
.menu li a:hover{
    color: #ff7c5b;
    text-decoration: underline;
} */

header .navbar-light .navbar-nav .nav-link{
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-transform: capitalize;
    
}
header .navbar-light .navbar-nav .nav-link.active{
    color: #1c79be;
    text-decoration: underline;
}
header .navbar-light .navbar-nav .nav-link:hover{
    color: #1c79be;
    text-decoration: underline;
}
.nav-item-search{
    padding-left: 20px;
}
.banner-activities{
    padding: 50px 0;
    position: relative;
}
.banner-activities .carousel-caption h2{
    position: absolute;
    right: 15%;
    bottom: 11.25rem;
    left: 13%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}
.our-activities h2{
    text-align: left;
    font-size: 25px;
    color: #83c557;
}
.our-activities .card-group .card{
    border: none;
}
.hiking{
    background-image: url(../images/hiking.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
}
.hiking h5{
    padding-top: 130px;
    font-size: 20px;
    text-align: left;
    color: #fff;
    font-weight: 100;
}
.hiking h2{
    font-size:67px;
    text-align: left;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
}
.scuba{
    background-image: url(../images/scuba.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
}
.scuba h5{
    padding-top: 130px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: 100;
}
.scuba h2{
    font-size:67px;
    text-align:center;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
}
.rufting{
    background-image: url(../images/river\ rafting.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
}
.rufting h5{
    padding-top: 130px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: 100;
}
.rufting h2{
    font-size:67px;
    text-align:center;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
}
footer{
    background-image: url(../images/home-page-map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;   
}
.footer-left p{
    font-size: 20px;
    line-height: 24px;
    color: #000;
    padding: 20px 0px;
}
footer h6{
    font-size: 24px;
    line-height: 28px;
    color: #000;
    text-decoration: underline;
}
.social-site {
    display: flex;
    padding: 10px 0px;
}
.social-site .our-sites svg{   
    float: left;
    margin-right: 15px;
    padding: 10px;
    border-radius: 50%;
    background-color: #1c79be;
}
.social-site .our-sites svg path{
    fill: #fff;
}
.social-site svg:hover path{
    fill: #fff;   
}
.social-site svg:hover{
    background-color: #83c557;     
}

.footer-middle .f-menu{
    float: left;    
}
.footer-middle h4,.footer-right h4,.footer-gallery h4{
    font-size: 26px;
    line-height: 30px;
    color: #000;
    text-decoration: underline;
    text-transform: capitalize;
    padding: 20px 0px;
}
.footer-middle h4:hover,.footer-right h4:hover,.footer-gallery h4:hover{
    color: #1c79be;
    text-decoration: underline;
}
.f-menu li{
    padding: 10px 0px;
}
.footer-middle .f-menu li a{
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-transform: capitalize;    
}
.footer-middle .f-menu li a:hover{
    color: #1c79be;
    text-decoration: underline;
}

.f-gallery-image{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding-top: 20px;
   
}
.footer-image img{
    border-radius: 10px;
}
.conect{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.conect svg path{
    fill: #fff;
}
.conect svg{
    float: left;
    margin-right: 15px;
    padding: 10px;
    border-radius: 50%;
    background-color: #1c79be;
}
.conect svg:hover path{
    fill: #fff;
}
.conect svg:hover{
    background-color: #83c557;   
}
.footer-right{
    padding-left: 20px;
}
.footer-right h6{
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
}
.footer-right h6:hover{    
    color: #1c79be;
}
.footer-right a.button{
    padding: 10px 20px;
    color: #fff;
    background-color: #1c79be;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize; 
    border-radius: 5px;   
}

.footer-right .button:hover{
    color: #fff;  
    background-color:#83c557;
}













.footre-bottom{
    padding: 20px;
    background-color:#0000005e;

}
.footre-bottom-body{
    display: flex;
    justify-content: space-between;
}
.footre-bottom-body .copyright p{
    font-size: 20px;
    line-height: 24px;
    color:#0000008f;
    padding: 20px 0px;
}









/* responsive */
@media (min-width: 768px) and (max-width: 1063px) { 
    .banner .carousel-item h1{
        display: none;

}
}