body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
}
/* .container{
    width: 1170px;
    margin: 0 auto;
} */
h1,h2,h3,h4,h5,h6, p{
    margin:0;
    padding:0;
}
ul{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
}
.clear{
    clear:both;
}





header{
    padding: 20px 0px;
   
}
/* .header img{
   
}
.menu{
    float: right;
    padding-top: 30px;
}
.menu li{
    float: left;
    padding-left: 20px;
}
.menu li a{
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-transform: uppercase;
}
.menu li a.active{
    color:#ff7c5b;
    text-decoration: underline;
}
.menu li a:hover{
    color: #ff7c5b;
    text-decoration: underline;
} */

header .navbar-light .navbar-nav .nav-link{
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-transform: capitalize;
    
}
header .navbar-light .navbar-nav .nav-link.active{
    color: #1c79be;
    text-decoration: underline;
}
header .navbar-light .navbar-nav .nav-link:hover{
    color: #1c79be;
    text-decoration: underline;
}
.nav-item-search{
    padding-left: 20px;
}
.banner .w-100{
width: 100%!important;
height: 600px;
}
.banner .carousel-caption{
    bottom: 4rem;
    color: #000;   
}
.banner .carousel-caption h1{
    font-size: 4rem;
    padding: 20px;
}
.banner .carousel-caption p{
    font-size:2rem;
    padding-bottom: 50px;
}
.tex2{
    font-weight:300;
}
.button{
padding: 12px 30px;
color: #fff;
background-color: #1c79be;
font-size: 14px;
line-height: 18px;
border-radius: 5px;
text-transform: capitalize;
text-decoration: none;
}
.button:hover{
    color: #fff;
    background-color: #83c557;
}
.explore{
    background-color: #1c79be;
    text-align: center;
    padding: 50px;
}
.explore h2{
    color: #fff;
    font-size:35px;
    text-transform: capitalize;
}
.explore h5{
    color: #fff;
    font-size:20px;
    text-transform: capitalize;
    padding-bottom:20px;
}
/* .explore .card-group{
    display: flex;
    justify-content:space-between;
} */
.explore .card{
    border:none;
    margin-bottom: 40px;
}
.destinations .card .overlay{
    position: absolute;
    content: "";
    top: 10px ;
    bottom: 10px;
    left:0px ;
    right:0px ;
    background-color: #0000008f;
    opacity: 1;
}
.explore .card img{
    position: relative;
}
.explore .card .overlay h5{
    opacity: 0;
}
.explore .card .overlay h5:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}
.explore .card-title{
    margin-top: 68px;
    text-align: center;
    font-size: 35px;
    z-index: 1;
    color: #fff;
    opacity: 0;
    text-transform: uppercase;
}
.explore .card-title:hover{
    margin-top: 68px;
    text-align: center;
    font-size: 35px;
    z-index: 1;
    color: #fff;
    opacity: 1;
    text-transform: uppercase;
    /* transition: all ease 0.5; */
}
.explore .card-img-overlay:hover{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(.25rem - 1px);
  color: #000;
  background-color: #0000008f;
  z-index: 1;
}
.button2{
    padding: 12px 30px;
    color: #fff;
    background-color:transparent;
    font-size: 14px;
    line-height: 18px;
    border-radius: 5px;
    text-transform: capitalize;
    text-decoration: none;
    border:1px solid #fff;
}
.button2:hover{
    color: #fff;
    background-color: #83c557;
    border: none;
}
.hide{
    padding: 50px 0;
    background-image: url(../image/hide\ background.jpg);
    background-position:center;
    background-repeat: no-repeat;
    
}
.hide h2{
    font-size: 35px;
    color: #82c557;
    text-transform: capitalize;
    text-align: left;
}
.hide .card-body .card-title{
    margin-bottom: 0px;
    font-size: 25px;
    text-align:left;
    text-transform: uppercase;
    font-weight: 750;
    color: #82c557;
}
.hide .list-group-item{
    padding:5px 0;
    border:none;
    text-transform: capitalize;
    list-style-position: outside;
}
.hide .card-body a{
    color: #fff;
    padding: 10px 15px;
    background-color: #1c79be;
    text-transform: capitalize;
    text-decoration:none;
}
.hide .card-body a:hover{
    color: #fff;
    padding: 10px 15px;
    background-color: #82c557;
    text-transform: capitalize;
}
.hide .txt2{
    color: #82c557;
}
.hide .card svg{
    display: inline-block;
}
.stories{
    padding: 50px 0;
}
.stories h2{
    color: #82c557;
    font-size:35px;
    text-transform: capitalize;
    padding: 20px 0;

}
.stories .card-body{
    position: relative;
}
.stories .card-body .card-title{
    color: #1c79be;
    text-transform: capitalize;
    font-size: 28px;
}
.stories .button2{
    padding: 12px 30px;
    color: #fff;
    background-color: #1c79be;
    font-size: 14px;
    line-height: 18px;
    border-radius: 5px;
    text-transform: capitalize;
    text-decoration: none;
    border: 1px solid #fff;
    align-items: center;
}
.stories .button2:hover{
    background-color: #82c557;
}
.holidays{
    background-image: url(../images/check.jpg);
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    height: auto;
    width: 100%;
}
.holidays .card-title{
    font-size: 35px;
    color: #82c557;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
}
.holidays .txt3{
    color: #82c557;
    font-size:40px;
    text-transform: capitalize;
    font-weight: 700;
}
/* .stories .card-text:last-child{

} */
.holidays .row{
    --bs-gutter-x: 10rem;
}
.holidays .card-text{
    margin-bottom: 0;
    text-transform:capitalize;
    text-align: center;
    font-weight: 750;
    font-size: 20px;
}
.holidays .card-body .card-title{
    font-size: 18px;
    color: #82c557;
    text-transform: capitalize;
    font-weight: 700;
    display: inline-block;
}
.holidays .card-body .card-text{
    margin-bottom: 0;
    text-transform:capitalize;
    text-align: center;
    font-weight: 750;
    font-size: 20px;
}
.holidays .card-group{
    display:block;
}
.holidays .card-body{
    background-color:#fff;
}
footer{
    background-image: url(../image/home-page-map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;   
}
.footer-left p{
    font-size: 20px;
    line-height: 24px;
    color: #000;
    padding: 20px 0px;
}
footer h6{
    font-size: 24px;
    line-height: 28px;
    color: #000;
    text-decoration: underline;
}
.social-site {
    display: flex;
    padding: 10px 0px;
}
.social-site .our-sites svg{   
    float: left;
    margin-right: 15px;
    padding: 10px;
    border-radius: 50%;
    background-color: #1c79be;
}
.social-site .our-sites svg path{
    fill: #fff;
}
.social-site svg:hover path{
    fill: #fff;   
}
.social-site svg:hover{
    background-color: #83c557;     
}

.footer-middle .f-menu{
    float: left;    
}
.footer-middle h4,.footer-right h4,.footer-gallery h4{
    font-size: 26px;
    line-height: 30px;
    color: #000;
    text-decoration: underline;
    text-transform: capitalize;
    padding: 20px 0px;
}
.footer-middle h4:hover,.footer-right h4:hover,.footer-gallery h4:hover{
    color: #1c79be;
    text-decoration: underline;
}
.f-menu li{
    padding: 10px 0px;
}
.footer-middle .f-menu li a{
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-transform: capitalize;    
}
.footer-middle .f-menu li a:hover{
    color: #1c79be;
    text-decoration: underline;
}

.f-gallery-image{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding-top: 20px;
   
}
.footer-image img{
    border-radius: 10px;
}
.conect{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.conect svg path{
    fill: #fff;
}
.conect svg{
    float: left;
    margin-right: 15px;
    padding: 10px;
    border-radius: 50%;
    background-color: #1c79be;
}
.conect svg:hover path{
    fill: #fff;
}
.conect svg:hover{
    background-color: #83c557;   
}
.footer-right{
    padding-left: 20px;
}
.footer-right h6{
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
}
.footer-right h6:hover{    
    color: #1c79be;
}
.footer-right a.button{
    padding: 10px 20px;
    color: #fff;
    background-color: #1c79be;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize; 
    border-radius: 5px;   
}

.footer-right .button:hover{
    color: #fff;  
    background-color:#83c557;
}













.footre-bottom{
    padding: 20px;
    background-color:#0000005e;

}
.footre-bottom-body{
    display: flex;
    justify-content: space-between;
}
.footre-bottom-body .copyright p{
    font-size: 20px;
    line-height: 24px;
    color:#0000008f;
    padding: 20px 0px;
}









/* responsive */
@media (min-width: 768px) and (max-width: 1063px) { 
    .banner .carousel-item h1{
        display: none;

}
}